.container__nav {
  width: 375px;
  height: 84px;
  padding: 20px;
  background-color: var(--Blk);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 376px) {
  .container__nav {
    max-width: 1200px;
    width: 100%;
    height: 106px;
  }
}
