.form__mobile {
  width: 375px;
  height: 138px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 14px;
}

.form__desk {
  width: calc(284px + 148px + 14px);
  height: 37px;
  display: flex;
  flex-direction: row;
  row-gap: 0px;
  column-gap: 14px;
}
