.login__form {
  width: 375px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.text__container {
  padding-left: 20px;
}

@media (min-width: 376px) {
  .text__container {
    padding-left: 0;
    margin-bottom: 22px;
  }
}
