:root {
  --font-Blk: #000;
  --font-Wht: #f7ebeb;
  --blue: #4f7cac;
  --ligth-blue: #91e5f6;
  --dark-blue: #201e50;
  --orange: #ffc700;
  --fuchsia: #e75a7c;
  --bgc: #e5e5e5;
  --inter: "Inter", "sans-serif";
  --border-radius: 8px;
}

* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--inter);
  background-color: var(--bgc);
  color: var(--font-colorBlk);
}
